/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Jost', 'sans-serif';
  font-weight: 400;
  /* border: 2px solid red; */
}

html {
  background-color: rgb(168, 193, 255);
  display: flex;
  flex-direction: column;
}

.creator-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  position: relative;
  padding: 2%;
  /* border: 2px solid blue; */
}

.header {
  margin-bottom: 40px;
  text-align: center;
  color: #002850;
  font-size: 80px;
}

.banner-creator-container {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4vh;
}

.banner-container {
  width: 90%;
  margin: auto;
  padding: 0;
}

.banner {
  background-color: black;
  display: grid;
  gap: 0px;
  line-height: 0;
  box-shadow: 0px 0px 20px black;
}

.banner-image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.3s ease-in-out;
}

.banner-image-container:hover {
  opacity: 0.4;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button:hover {
  box-shadow: 0px 0px 8px black;
}

/* Grid Settings */
.grid-settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: clamp(12px, 1.6vw, 24px);
  background-color: #6eaaff;
  box-shadow: 0 0px 24px rgb(0, 0, 0);
  width: 70%;
  margin: auto;
  gap: 8px;
  font-size: clamp(12px, 1.2vw, 24px);
  font-weight: 600;
}

.grid-settings-header {
  font-size: 40px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.grid-settings-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  gap: 8px;
  font-size: clamp(12px, 1.2vw, 24px);
  font-weight: 600;
  width: 100%;
}

.rows-columns-container {
  display: flex;
  flex-direction: column;
  gap: clamp(6px, 1vw, 12px);
  /* border: 2px green solid; */
}

.rows-and-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  gap: clamp(12px, 1.2vw, 24px);
  margin-right: clamp(8px, 1vw, 16px);
  /* border: 2px blue solid; */
  width: 100%;
}

.rows-button, .columns-button {
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  padding: 0.4vw;
  vertical-align: center;
  color: white;
  gap: clamp(6px, 0.6vw, 12px);
  box-shadow: 0px 0px 4px black;
  width: 100%;
}

.rows, .columns {
  margin: 0 2%;
  font-size: clamp(10px, 1.2vw, 20px);
  font-weight: 600;
  padding: 4px;
}

.rows-columns-button-and-text {
  justify-content: space-evenly;
  width: 50%;
}

.rows-minus, .rows-plus, .columns-minus, .columns-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  width: clamp(20px, 2.4vw, 40px);
  height: clamp(20px, 2.4vw, 40px);
  background-color: #0056b3;
  box-shadow: 0 0 4px black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  font-size: clamp(12px, 1.6vw, 24px);
}

.rows-minus:hover, .rows-plus:hover, .columns-minus:hover, .columns-plus:hover {
  background-color: #004080;
}

.rows-minus:active, .rows-plus:active, .columns-minus:active, .columns-plus:active {
  background-color: #002850;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #002850;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin: clamp(12px, 1.2vw, 24px);
  margin-left: 0;
}

.slider-resolution-and-button {
  padding: 10px;
  width: 50%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: clamp(12px, 2vw, 24px);
  height: clamp(12px, 2vw, 24px);
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  background: #0056b3;
}

.slider::-moz-range-thumb {
  width: clamp(12px, 2vw, 24px);
  height: clamp(12px, 2vw, 24px);
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slider::-moz-range-thumb:hover {
  background: #0056b3;
}

.generate-button {
  padding: clamp(6px, 1vw, 16px) clamp(6px, 1vw, 16px);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: clamp(12px, 1.2vw, 24px);
  font-weight: 600;
  box-shadow: 0px 0px 4px black;
  background-color: #0056b3;
}

.shuffle-button {
  padding: clamp(6px, 1vw, 16px) clamp(6px, 1vw, 16px);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: clamp(12px, 1.2vw, 24px);
  font-weight: 600;
  box-shadow: 0px 0px 4px black;
  background-color: #007bff;
  margin-top: 3px;
}

.download-button {
  padding: clamp(6px, 1vw, 16px) clamp(6px, 1vw, 16px);
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: clamp(12px, 1.2vw, 24px);
  font-weight: 600;
  box-shadow: 0px 0px 4px black;
  background-color: white;
  margin-top: 3px;
}

.download-button:hover {
  background-color: #004080;
  box-shadow: 0 0 8px rgba(0, 0, 0);
  color: #fff;
}

.buttons {
  display: flex;
  gap: clamp(6px, 0.8vw, 10px);
  width: auto;
  justify-content: space-evenly;
}

/* album info */

.album-info-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 400px;
  height: 100%;
  background-color: #007bff;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
  box-shadow: 0px -2px 20px black;
}

.album-info-header {
  color: white;
  margin-bottom: 2vw;
  font-size: clamp(36px, 4.8vw, 80px);
}

.album-info-sidebar.open {
  transform: translateX(0);
}

.album-info-card.big {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(201, 219, 255);
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0 8px rgba(0, 0, 0);
}

.album-info-card.small {
  display: flex;
  background-color: rgb(201, 219, 255);
  width: 100%;
  padding: 15px;
  box-shadow: 0px 0 8px rgba(0, 0, 0);
  height: min-content;
}

.big .album-info-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: clamp(10px, 0.5vw, 20px);
  box-shadow: 0 0 4px rgba(0, 0, 0);
}

.small .album-info-image {
  aspect-ratio: 1 / 1;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  box-shadow: 0 0 4px rgba(0, 0, 0);
}

.album-info-card.small .album-info-text {
  margin-left: clamp(10px, 0.8vw, 32px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.album-info-name {
  font-size: clamp(16px, 2vw, 32px);
  font-weight: 600;
  text-overflow: clip;
  overflow: hidden;
}

.album-info-artist-name {
  font-size: clamp(10px, 1.2vw, 20px);
  overflow: hidden;
}

.album-info-replace-with {
  margin-top: 2vw;
  font-size: clamp(12px, 2.4vw, 36px);
  color: white;
}


.album-info-search-form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.album-info-search {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #fff;
  font-size: 16px;
  transition: border-color 0.3s, background 0.3s;
  width: 70%;
}

.album-info-search::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.album-info-search:focus {
  outline: none;
  border-bottom-color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.album-info-search:hover {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.album-info-search-submit {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #fff;
  border: none;
  color: #007bff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.album-info-search-submit:hover {
  background-color: #004080;
  box-shadow: 0 0 8px rgba(0, 0, 0);
  color: #fff;
}

/* Search Results */

.search-result-list {
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  overflow-y: auto;
  background-color: #6eaaff;
  box-shadow: inset 0 0 8px black;
}

.search-result-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(201, 219, 255);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  box-shadow: 0 0 4px black;
}

.search-result-card:hover {
  transform: translateY(-2px);
}

.search-result-image {
  width: 4vw;
  aspect-ratio: 1 / 1;
  box-shadow: 0 0 4px rgba(0, 0, 0);
  margin-right: 15px;
}

.search-result-info {
  display: flex;
  flex-direction: column;
}

.search-result-name {
  font-size: 16px;
  font-weight: 600;
}

.search-result-artist {
  font-size: 14px;
  font-weight: 400;
}
