/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

.creator-container {
  width: 100%;
  background-color: rgb(60, 60, 60);
  position: relative;
}

.banner-container {
  width: 80%;
  margin: auto;
  padding: 5vh;
}

.banner {
  display: grid;
  gap: 0px;
  line-height: 0;
  box-shadow: 0px 0px 20px black;
}

.banner-image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 4px black;
  transition: all 0.4s ease-in;
}

button:hover {
  box-shadow: 0px 0px 8px black;
}

/* Grid Settings */
.grid-settings-container {
  display: flex;
  padding: clamp(12px, 1.6vw, 24px);
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0px 20px rgb(0, 0, 0);
  width: 70%;
  margin: auto;
  gap: 20px;
  font-size: clamp(12px, 1.2vw, 24px);
  font-weight: 600;
}

.rows-and-columns {
  display: flex;
  align-items: center;
  width: 40%;
  gap: clamp(12px, 1.2vw, 24px);
  margin-right: clamp(4px, 0.8vw, 16px);
}

.rows-button, .columns-button {
  display: flex;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  border-radius: 8px;
  color: white;
  gap: clamp(10px, 1vw, 20px);
  box-shadow: 0px 0px 4px black;
}

.rows, .columns {
  margin: 0 2%;
}

.rows-minus, .rows-plus, .columns-minus, .columns-plus {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #0056b3;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.rows-minus:hover, .rows-plus:hover, .columns-minus:hover, .columns-plus:hover {
  background-color: #004080;
}

.rows-minus:active, .rows-plus:active, .columns-minus:active, .columns-plus:active {
  background-color: #002850;
}

.number-of-covers {
  padding-top: clamp(10px, 2vw, 20px);
}

.slider {
  width: 60%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin: clamp(12px, 1.2vw, 24px);
  margin-left: 0;
}

.slider-and-resolution {
  width: 70%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  background: #0056b3;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slider::-moz-range-thumb:hover {
  background: #0056b3;
}

.generate-button {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0px;
  max-height: max-content;
}
